body {
    text-align: center;
    width: 610px;
    margin: auto;
    max-height: fit-content;
    color: whitesmoke;
    background-color: rgb(37, 37, 37);
}

div {
    border: 1px solid white;
    text-align: center;
    max-width: 610px;
}

div.animation {
    display: flex;
    column-gap: 10px;
}

div.pumpkinPatch {
    width: 500px;
    height:535px;
}

div.pumpkinPatch img {
    width: 30px;
    height: 30px;
    opacity: 80%;
}

div.pumpkinPatch td {
    width: 56px;
    height: 46px;
    border: 3px solid #97b47d;
    padding: 0px;
    background-color: #60734f;
}

div.ghosts {
    width: 100px
}

div.ghosts img {
    width: 100px;
    height: 82px;
}

div.word table {
    text-align: center;
    border-spacing: 10px;
    margin: auto;

}

div.word td {
    width: 30px;
    height: 20px;
    border-bottom: 1px solid white;
}