body {
    text-align: center;
    width: 745px;
    margin: auto;
    margin-bottom: 2%;
    max-height: fit-content;
    color: whitesmoke;
    background-color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-family: "stencil";
    font-weight: lighter;
}

div.animation {
    display: flex;
    column-gap: 10px;
}

div.pumpkinPatch {
    padding-left: 1%;
    width: 535px;
    height:535px;
}

div.pumpkinPatch img {
    width: 30px;
    height: 30px;
    opacity: 80%;
}

div.pumpkinPatch td {
    width: 46px;
    height: 46px;
    border: 3px solid #97b47d;
    padding: 0px;
    background-color: #60734f;
}

div.ghostsLeft, div.ghostsRight {
    width: 100px
}

div.ghostsLeft img {
    width: 100px;
    height: 100px;
}

div.ghostsRight img {
    width: 100px;
    height: 100px;
}

div.word table {
    text-align: center;
    border-spacing: 10px;
    margin: auto;

}

div.word td {
    width: 30px;
    height: 20px;
    border-bottom: 1px solid white;
}

div.alphabets table {
    text-align: center;
    border-spacing: 5px;
    margin: auto;
}

div.alphabets td {
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

div.guessOptions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

div.guessOptions button {
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1.5%;
}

div.guessOptions select {
    width: 45px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1.5%;
    text-align: center;
}

div.guessOptions input {
    height: 30px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1.5%;
    text-align: center;
}

div.hint {
    margin-top: 3%;
}

div.hint button {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 1px solid white;
    height: 30px;
    background-color: rgb(37, 37, 37);
}

div.difficultyChoice {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-top: 3%;
}

div.difficultyChoice button {
    font-family: 'Courier New', Courier, monospace;
    width: 80px;
    height: 40px;
    margin-top: 1%;
}

div.messages button {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    border: 1px solid white;
    height: 30px;
    background-color: rgb(37, 37, 37);
}
