body {
    text-align: center;
    width: 645px;
    margin: auto;
    max-height: fit-content;
    color: whitesmoke;
    background-color: rgb(37, 37, 37);
    font-family: 'Courier New', Courier, monospace;
}

/*FIXME Fix the heading alignment*/
h1 {
    font-family: "stencil";
    font-weight: lighter;
}

div.animation {
    display: flex;
    column-gap: 10px;
}

div.pumpkinPatch {
    width: 535px;
    height:535px;
}

div.pumpkinPatch img {
    width: 30px;
    height: 30px;
    opacity: 80%;
}

div.pumpkinPatch td {
    width: 46px;
    height: 46px;
    border: 3px solid #97b47d;
    padding: 0px;
    background-color: #60734f;
}

div.ghosts {
    width: 100px
}

div.ghosts img {
    width: 100px;
    height: 82px;
}

div.word table {
    text-align: center;
    border-spacing: 10px;
    margin: auto;

}

div.word td {
    width: 30px;
    height: 20px;
    border-bottom: 1px solid white;
}

div.alphabets table {
    text-align: center;
    border-spacing: 5px;
    margin: auto;
}
div.alphabets td {
    width: 40px;
    height: 40px;
    border: 1px solid white;
}

div.guessOptions {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}
div.guessOptions button {
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-top: 1.5%;
}

div.guessOptions select {
    width: 45px;
    height: 35px;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 1.5%;
    text-align: center;
}

/*TODO Change the input text box size for Guess the word*/
