body {
    text-align: center;
    width: 610px;
    margin: auto;
}

div {
    border: 1px solid black;
    text-align: center;
    max-width: 610px;
}

div.animation {
    display: flex;
    column-gap: 10px;
}

div.pumpkinPatch {
    width: 500px;
    height:500px;
}

div.ghosts {
    width: 100px
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

